
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="singup">
  <div class="singup-header">
    <h1>Sing up</h1>
  </div>
  <div class="singup-form">
    <h3>Nombre de la compañia:</h3>
    <input type="text" placeholder="Nombre de la compañia"/><br>
    <h3>Password:</h3>
    <input type="password" placeholder="Password"/>
    <br>
    <h3>Rif:</h3>
    <input type="text" placeholder="Rif"/>
    <br>
    
    <input type="button" value="Sing up" class="singup-button"/>
    
    <a  [routerLink]="['/']">
        <input type="button" value="Back" />
    </a>
    <br>
    
    
  </div>
</div>