/* You can add global styles to this file, and also import other style files */
body {
    background:url("http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg")!important;
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
    
  }